<form method="post" action="{{ path('app_intervention_delete', {'id': intervention.id}) }}" onsubmit="return confirm('Attention ce moment d\'intervention sera supprimé?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ intervention.id) }}">
    <button class="btn btn-dark mx-1">Supprimer</button>
</form>
