{% extends 'base.html.twig' %}

{% block title %}Nouvelle intervention{% endblock %}

{% block body %}

    <a class="btn btn-dark" href="{{ path('app_intervention_index') }}">Retour</a>
        <h1 class="mt-2">Créer une nouvelle intervention</h1>
    {% if is_granted('ROLE_ADMIN') %}
            {{ include('intervention/_form.html.twig') }}
    {% endif %}

{% endblock %}