{% extends 'base.html.twig' %}

{% block title %}Frequence{% endblock %}

{% block body %}

<a class="btn btn-dark" href="{{ path('app_frequency_new') }}">Ajouter</a>

    <h1 class="mt-2">Fréquence d'invention</h1>

   <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Fréquence</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody >
        {% for frequency in frequencies %}
            <tr >
                <td >{{ frequency.type }}</td>
                <td>
                <div class="col d-flex">
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-primary mx-1" href="{{ path('app_frequency_edit', {'id': frequency.id}) }}">Modifier </a>
                    <div class="cache">
                    {{ include('frequency/_delete_form.html.twig') }}
                    </div>
                {% endif %}
                </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune fréquence trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}