{% extends 'base.html.twig' %}

{% block title %}Nouvelle fréquence{% endblock %}

{% block body %}

    <a class="btn btn-dark" href="{{ path('app_frequency_index') }}">Retour</a>
        <h1 class="mt-2">Créer une nouvelle fréquance</h1>
    {% if is_granted('ROLE_ADMIN') %}
        {{ include('frequency/_form.html.twig') }}
    {% endif %}

{% endblock %}