<form method="post" action="{{ path('app_recruitment_delete', {'id': recruitment.id}) }}" onsubmit="return confirm('Attention cette annonce sera supprimé?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ recruitment.id) }}">
    <button class="btn btn-dark mx-1">Supprimer</button>
</form>
