<form method="post" action="{{ path('app_personal_assistance_delete', {'id': personal_assistance.id}) }}" onsubmit="return confirm('attention ce  type d\'aide sera supprimé?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ personal_assistance.id) }}">
    <button class="btn btn-dark mx-1">Supprimer</button>
</form>
